body{
    margin: 0;
    background-color: #1c5d69;
}
.header{
    background-color: #1c5d69;
    color: #d5c1ed;
    text-align: center;
    font-size: 40px;
    border-bottom: 5px solid #d5c1ed;
}
.button{
    font-size: 20px;
    background-color: #1c5d69;
    color: #d5c1ed;
    border-radius: 10px;
    border: 3px solid #d5c1ed;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
}
.group{
    display: flex;
}
.container{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
}
.grid{
    background-color: white; 
}

.row{
    display: flex;
}
.color{
    background-color: red;
}
.colors{
    width: 20px;
    height: 20px;
    border-radius: 2px;
    display: flex;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.color-container{
    display: flex;
}
.c-container{
    margin-left: 50px;
}
.pickem{
    color: #d5c1ed;
}